<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collectl Monitoring Graph</title>
    <!--<script src="http://www.google.com/jsapi"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="js/chartkick.js"></script>
    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/flat-ui.min.js"></script>
    <script src="js/themes/dark-unica.js"></script>
</head>
<body>

<div class="container">

    <br>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">CPU</a></li>
        <li><a href="report_memory.html">Memory</a></li>
        <li><a href="report_disk.html">Disk Usage</a></li>
        <li><a href="report_network.html">Network Usage</a></li>
    </ul>


    <h3>CPU %</h3>

    {% for host in hosts %}
        <div class="row">
            <div class="col-lg-12">
                {% line_chart host.cpu_data with library={"title":{"text":host.name}} %}
                <br>
            </div>
        </div>
    {% endfor %}

    <h3>CPU Load Avg 1 Min </h3>

    {% for host in hosts %}
        <div class="row">
            <div class="col-lg-12">
                {% line_chart host.cpu_load with library={"title":{"text":host.name}} %}
                <br>
            </div>
        </div>
    {% endfor %}

</div>
</body>
</html>